*{
    box-sizing: border-box;
    font-family: cursive;
}

body{
    height: 100vh;
    margin:0;
    text-align: center;
    background: rgb(248, 238, 220);
}


header{
    position: relative;
    top: -25px;
    background: black;
}

h1{
    background:black;
    color:snow;
    text-align:center;
    padding-bottom: 10px;
}

.about{
    margin-top: -30px;
}

h2{
    text-align: center;
    text-decoration: underline;
}

img{
    width:600px;
}

p{
    font-size: large;
}

a{
    text-decoration: none;
}


.image{
    position: relative;
    text-align: center;
}


h4{
    border-top: solid 3px ;
    border-bottom: solid 3px ;
    background: tan;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
form{
   margin-top: 5px; 
}

form >div{
    text-align: left;
}

.form{
    margin: 0px auto;
    width: 400px;
}

input{
    display: block;
    width: 100%;
    padding: 10px;
    padding: 12px;
    border-radius: 10px;
    outline: none;
}

.bottom-p{
    margin: 5px;
}


button{
    padding: 10px;
    color: snow;
    font-size: 17px;
    width: 100px;
    border-radius: 4px;
    outline: none;
    border: 0;
    background: rgb(10, 9, 1);
    position: relative;
    left:200px;
    margin-bottom: 5px;
    margin-top: 5px;
}

button:hover{
    background: slateblue;
}

footer{
    text-align: center;
    border-top: black solid 3px;
}


@media (max-width:700px){

    body{
        width: auto;
        text-align: center;
        overflow-x: hidden;
        margin: 0px;
    }

    img{
        width:300px;
    }

    form{
        max-width: 350px;
    }

    input{
        width: 300px;
        display: block; 
        padding: 10px;
    }

    .bottom-p{
        margin: 5px;
    }

    button{
        left: 100px;
    }
}